@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

@if (!string.IsNullOrEmpty(ViewBag.PaymentUrl))
{
    <iframe src="@ViewBag.PaymentUrl" width="100%" height="500px"></iframe>
}
else
{
    <p>No payment URL available</p>
}

